### Hidden files ###

.Rproj.user
.Rhistory
.RData
.Ruserdata

### Hidden folders ###

**00_additional_resources/**
**00_students/**
**00_intro_session/intro00_files/**
**00_research_workshop/research_proposal_workshop_files/**
**01_session/readings/**
**01_session/session01_files/**
**02_session/readings/**
**02_session/session02_files/**
**03_session/readings/**
**03_session/session03_files/**
**04_session/readings/**
**04_session/session04_files/**
**05_session/readings/**
**05_session/session05_files/**
**06_session/readings/**
**06_session/session06_files/**
**07_session/readings/**
**07_session/session07_files/**
**08_session/readings/**
**08_session/session08_files/**
**09_session/readings/**
**09_session/session09_files/**
**10_session/readings/**
**10_session/session10_files/**